* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.images img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border: 1px solid black;
    cursor: pointer;
    opacity: 0.5;
}

.images .active {
    opacity: 1;
}

#root .mainFrame {
    border: 1px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

